{# templates/parts/footer.html.twig #}
<footer class="site-footer">
  <div class="footer-col">
    {{ page.footer_first }}
  </div>
  <div class="footer-col">
    {{ page.footer_second }}
  </div>
  <div class="footer-col">
    {{ page.footer_third }}
  </div>
</footer>
