<footer id="footer" class="footer" role="contentinfo">
  <div class="footer-menu">
    {% if footer_menu %}
      <nav aria-label="{{ 'Footer menu'|t }}">
        {{ footer_menu }}
      </nav>
    {% endif %}
  </div>

  <div class="footer-copyright">
    <p>&copy; {{ "now"|date("Y") }} {{ site_name }}</p>
  </div>
</footer>
